Django==6.1
djangorestframework==3.18.0
django-cors-headers==4.9.0
django-filter==26.1
dj-database-url==3.1.2
drf-spectacular==0.30.0
drf-spectacular-sidecar==2026.8.1
gunicorn==26.2.0
whitenoise==6.12.0
